@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Connection Tester</h1>
    <p class="lead">Test HTTP connection with GET or POST method.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>GET</h2>
        <div>
            <button id="addheaderGet" class="btn btn-default">Add Header</button>
        </div>
        <br />
        @using (Html.BeginForm("GetResponse", "Tester", FormMethod.Post, new { id = "formGet" }))
        {
            <div>
                <label for="url">URL: </label>
                <input type="text" name="url" id="urlGet" placeholder="Please enter the url here" required />
            </div>

            <div id="getheaders"></div>

            <br />
            <div>
                <input id="submitBtnGet" type="submit" class="btn btn-default" value="Go" />
            </div>
        }

        <br />
    </div>
</div>

<hr />

<div Class="row">
    <div Class="col-md-12">
        <h2> POST</h2>
        <div>
            <button id="addheaderPost" class="btn btn-default">Add Header</button>
        </div>
        <br />
        @using (Html.BeginForm("PostResponse", "Tester", FormMethod.Post, new { id = "formPost" }))
        {
            <div>
                <label for="url">URL: </label>
                <input type="text" name="url" id="urlPost" placeholder="Please enter the url here" required />
            </div>

            <div id="postheaders"></div>

            <div>
                <label for="content">Request Content: </label>
                <br />
                <textarea name="content" id="content" placeholder="Please enter the request body here" cols="50" rows="10"></textarea>
            </div>

            <br />
            <div>                
                <input id="submitBtnPost" type="submit" class="btn btn-default" value="Go" />
            </div>
        }
        <br />
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
    function addHeader(method) {
        console.log("add header!");

        var row = document.createElement("DIV");
        row.setAttribute("class", "row");

        var hNameCol = document.createElement("DIV");
        hNameCol.setAttribute("class", "col-md-4");

        var e = document.createElement("INPUT");
        e.setAttribute("type", "text");
        e.setAttribute("name", "headerNames");
        e.setAttribute("placeholder", "Header name");
        e.setAttribute("class", "headerNames");

        $(hNameCol).append('<label for="headerName">Header Name:</label>');
        $(hNameCol).append(e);

        var hValueCol = document.createElement("DIV");
        hValueCol.setAttribute("class", "col-md-4");

        var e = document.createElement("INPUT");
        e.setAttribute("type", "text");
        e.setAttribute("name", "headerValues");
        e.setAttribute("placeholder", "Header value");
        e.setAttribute("class", "headerValues");

        $(hValueCol).append('<label for="headerName">Header Value:</label>');
        $(hValueCol).append(e);

        $(row).append(hNameCol);
        $(row).append(hValueCol);

        if (method === "GET") {
            $("#getheaders").append(row);
        }
        else {
            $("#postheaders").append(row);
        }
    }

    $("#addheaderGet").on("click", function () {
        addHeader("GET");
    })

    $("#addheaderPost").on("click", function () {
        addHeader("POST");
    })
</script>